name: GoReleaser

on:
  workflow_dispatch:
    inputs:
      bump_type:
        description: 'Bump tag type: major, minor, patch. default: minor'
        required: true
        default: 'minor'

permissions: write-all

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.20"
      - name: Bump tag version
        id: bumpTag
        uses: anothrNick/github-tag-action@1.61.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DRY_RUN: true
          DEFAULT_BUMP: "${{ github.event.inputs.bump_type }}" 
      - name: Bump tag locally
        run: git tag ${{ steps.bumpTag.outputs.new_tag }}
      - name: Set environment variables
        run: |
          echo "GOLANG_VERSION=$(go version)" >> $GITHUB_ENV
          echo "BUILT_BY=$(whoami)@$(hostname)" >> $GITHUB_ENV
      - uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOLANG_VERSION: ${{ env.GOLANG_VERSION }}
          BUILT_BY: ${{ env.BUILT_BY }}